.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.navbar li {
    padding: 5px;
}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

/*---------------------*/
/*--- MEDIA QUERIES ---*/
/*---------------------*/

@media (min-width: 500px){
    .navbar{
        padding-right: 200px;
        justify-content: flex-end;
    }
    
    .navbar ul {
        flex-direction: row;
    }

    .navbar li {
        padding: 20px;
    }
}