.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutCard {
    width: 300px;
}

.aboutCard h2 {
    margin-top: 25px;
}

.socialLinks ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}


/*---------------------*/
/*--- EXTERNAL GRID ---*/
/*---------------------*/

@media (min-width: 730px){
    .aboutCard {
        width: 550px;
    }
}

@media (min-width: 1240px){
    .sidebar {
        padding-right: 15px;
    }

    .aboutCard {
        margin-bottom: 50px;
        width: auto;
    }

    .socialLinks ul {
        display: flex;
        flex-direction: column;
    }
}